*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5899E2;
}

#main{

    width: 15em;

    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #134074;
    border-radius: 20px;
}

#screen{
    height: 23%;
    width: 90%;
    
    background-color: #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

#eq{
    margin: 15px;
    font-size: 1em;
}

#ans{
    margin: 30px 15px 15px 15px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: right;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
}
#settings{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

button{
    /* border: none; */
    padding: 15px;
    margin: 4px;
    background-color: #F2F2F2;
    border: #F2F2F2;
    font-weight: bolder;
    border-radius: 20%;
    box-shadow: 0 2px gray;
    flex: 1 1 0px;
}

button:active{
    box-shadow: 0 3px #666;
    transform: translateY(1.25px);
}

#equals{
    background-color: #EB5757;
    border: #EB5757;
    flex: 0 0 0px;
}
#dot{
    flex: 0 0 0px;
}
#zero{
    flex: 1 1 0px;
    border-radius: 10%;
}

/* #screen{
    border: black solid 1px;
    height: 100px;
    width: 200px;
} */

/* .buttons{
    width: 300px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.digitButtons{
    width: 30%;
}

.buttons :last-child{
    display: flex;
    justify-content: center;
}  */